*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant',sans-serif;
}

/*.secao-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-banner video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/
.container-informacoes {
    width: 768px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.imgPerfil-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imgPerfil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url('./assets/neymar.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}